.header {
   height: 90px;
   background-color: rgb(56, 173, 56);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 90px;
}

.header__logo {
   font-size: 24px;
   color: #fff;
}

.header__input {
   font-size: 20px;
}

.header__button {
   padding: 5px 20px;
   background-color: #000;
   color: #fff;
   cursor: pointer;
   font-size: 20px;
   transition: all .5s;
}

.header__button:hover {
   background-color: #c99a9a;
}

.header__right {
   display: flex;
   gap: 20px;
}

.header__language {
   font-size: 20px;
   background-color: #fff;
   padding: 5px 20px;
   transition: all .5s;
}

.header__language:hover {
   background-color: #b8a7a7;
}

.header__dropdown {
   position: relative;
}

.dropdown__menu {
   display: flex;
   flex-direction: column;
   gap: 5px;
   background-color: #fff;
   text-align: center;
   position: absolute;
   width: 100%;
}

.dropdown__item {
   cursor: pointer;
   font-size: 16px;
}